body {
  width: 50%;
  margin: auto auto;
}
main {
  background-color: blanchedalmond;
  color: rgb(48, 48, 48);
  height: auto;
  margin-top: 2%;
  padding: 10px;
  border: rgb(32, 19, 0) solid 5px;
  border-radius: 25px;
}
h1 {
  font-size: 4em;
  margin: 25px;
}
p {
  margin: 25px;
  padding: 10px;
  border: rgb(255, 255, 255) solid 3px;
  border-radius: 15px;
}
footer {
  background-color: blanchedalmond;
  padding: 25px;
  margin-top: 2%;
  border: rgb(32, 19, 0) solid 5px;
  border-radius: 25px;
}
